{% extends "main.html" %}

{% block title %}Письмо{% endblock %}

{% block content %}
    {% if letters %}
        {% for letter in letters %}
            <a href="{% url "letter_page" letter.id%}">
                <div class="letter">
                    {% if not letter.is_read %}
                        <div style="font-weight: bolder">{{ letter.message.header }} (Новое)</div>
                    {% else %}
                        <div>{{ letter.message.header }}</div>
                    {% endif %}
                    <div>{{ letter.message.sender }}</div>
                </div>
            </a>
        {% endfor %}
    {% endif %}

<a href="{% url "main_page" %}"><div class="menu-item">На главную.</div></a>
{% endblock %}